  /*   Slider Style
=======================*/
  /*------------------------------------------------
    1.***Base Css Start***
-------------------------------------------------*/
  
  * {
      margin: 0px;
      padding: 0px;
  }
  a {
      text-decoration: none;
      outline: none;
  }
  a:hover,
  a:focus,
  input,
  textarea {
      text-decoration: none;
      outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p {
      margin: 0px;
      padding: 0px;
  }
  img {
      max-width: 100%;
  }
  html,
  body {
      height: 100%;
  }
  body {
      font-size: 16px;
      line-height: 25px;
      color: #545151 !important;
  }
 
  .base-header {
      padding-bottom: 35px;
  }
  .base-header h3 {
      letter-spacing: 1px;
      text-align: center;
      padding-bottom: 18px;
      position: relative;
      line-height: 32px;
      font-size: 40px;
      text-transform: capitalize;
	  position: relative;
  }
 
 
  .base-header h3::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 2px;
      width: 80px;
      border-top: 1px solid #d4b068;
      margin-left: -40px;
  }
  .more-link:hover::before,
  .more-link:focus::before,
  .more-link:active::before {
      border: 1px solid transparent;
  }
  .vc_row {
      overflow-y: hidden
  }
  .refit-subtitle h2 {
      text-transform: uppercase;
      font-size: 35px;
      letter-spacing: 3px;
      margin-top: 0px;
  }
  .refit_slide_item {
      background-size: cover;
      background-position: center;
      background-color: #ddd;
      height: 800px;
      position: relative;
      z-index: 1;
  }
  .refit_slide_table {
      display: table;
      height: 100%;
      width: 100%;
      z-index: 2;
      position: relative;
      text-align: center;
  }
  .refit_slide_tablecell {
      display: table-cell;
      vertical-align: middle;
  }
  .slider_overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #333;
      z-index: 1;
      opacity: .5;
  }
  .slides_wrapper .owl-nav div {
      position: absolute;
      z-index: 1;
      height: 60px;
      width: 60px;
      left: 50px;
      top: 50%;
      line-height: 60px;
      text-align: center;
      font-size: 30px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
  }
  .slides_wrapper:hover .owl-nav div {
      opacity: 1;
      visibility: visible;
      transition: .3s;
  }
  .slides_wrapper .owl-nav div.owl-next {
      right: auto;
      left: auto;
      right: 50px;
  }
  .slides_wrapper .owl-nav div i {
      background: #d4b068;
      margin: 5px;
      height: 50px;
      width: 50px;
      display: block;
      line-height: 49px;
      border-radius: 3%;
      color: #fff;
  }
  .slides_wrapper .owl-nav div:hover {
      opacity: 1;
      visibility: visible;
  }
  .slides_wrapper .filled-btn {
      background: #d4b068;
      border: 1px solid transparent !important;
      color: #fff !important;
  }
  .slides_wrapper .bordered-btn {
      background: transparent;
      border: 1px solid #fff;
  }
  .slides_wrapper .bordered-btn {
      border: 1px solid #fff !important;
      color: #fff !important;
  }
  .slides_wrapper .bordered-btn:hover {
      border: 1px solid #d4b068;
      color: #fff !important;
      background: #d4b068;
  }
  .slides_wrapper .filled-btn:hover {
      border: 1px solid #fff !important;
      color: #fff !important;
      background: transparent;
  }
  .more-link:hover,
  .more-link:focus,
  .more-link:active {
      color: white;
      border: 1px solid transparent !important;
      background: #d4b068;
  }
  .more-link {
      display: inline-block;
      font-size: 14px;
      padding: 11px 25px 11px 25px;
      color: #fff;
      position: relative;
      text-transform: uppercase;
      z-index: 999;
      border-radius: 3px;
  }
  .slides_wrapper {
      color: #fff;
      margin-top: -70px;
  }
  .slides_wrapper h4 {
      letter-spacing: 3px;
      font-size: 24px;
  }
  .slides_wrapper h4 {
      text-align: center;
  }
  .slides_wrapper h2 {
      color: rgb(255, 255, 255) !important;
      font-size: 80px !important;
      text-align: center;
      font-weight: 700;
      letter-spacing: 7px;
      margin-top: 0px;
      margin-bottom: 40px;
  }
  .refit_slide_btn a:hover {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
  }
  /*About SECTION */
  
  .abt-left h4 {
      font-size: 52px;
      letter-spacing: 2px;
      line-height: 53px;
      position: relative;
      z-index: 99;
      margin-top: 31px;
      text-transform: capitalize;
  }
 
  .abt-nmbr {
      position: absolute;
      top: -57px;
      font-size: 154px;
      left: 60px;
      color: rgba(221, 221, 221, 0.45);
      z-index: 9;
      font-weight: 900;
  }
  .abt-pra {
      border-left: 2px solid rgba(39, 39, 39, 0.7);
      padding-left: 25px;
  }
  .abt-pra2 {
      margin-bottom: 0;
  }
  .callto-pull-left {
      padding-bottom: 10px;
  }
  div.callto-link a.more-link {
      margin-top: 7px;
  }
 
 
  /*About Bottom */
  /* About Bottom
------------------------------------*/
  
  .about_pro_bac {
      color: #FFF;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
  }
  .about_pro_bac2 {
      color: #FFF;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
  }
  .about_pro_bac::after {
      width: 100%;
      height: 100%;
      background: #090909;
      content: "";
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
  }
  .about_pro_bac_active .about_pro_bac::after {
      width: 100%;
      height: 100%;
      background: #090909;
      content: "";
      position: absolute;
      opacity: .7;
      top: 0;
      left: 0;
  }
  .about_pro_bac_active .proces p.number,
  .about_pro_bac_active .proces h4 {
      color: #fff;
  }
  .about_pro_bac_active .about_pro_bac .proces p {
      color: #b6b2b2;
  }
  .about_pro_bac_active .about_pro_bac .proces p.number {
      color: #595959;
  }
  .about_pro_bac:hover::after {
      opacity: .7;
  }
  .about_pro_bac2 .about_pro_bac:hover::after {
      opacity: 0;
  }
  .about_pro_bac:hover {
      color: #FFF;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
  }
  .about_pro_bac:hover .proces p.number {
      color: #ddd;
  }
  .about_pro_bac:hover .proces h4 {
      color: #fff;
  }
  .about_pro_bac:hover .proces p {
      color: #b6b2b2;
  }
  .about_pro_bac:hover .proces p.number {
      color: #595959;
  }
  .proces {
      text-align: center;
      padding: 70px 90px 73px 90px;
      position: relative;
      z-index: 9;
  }
  .proces h4 {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 24px;
      margin-top: 14px;
      position: relative;
      z-index: 99;
  }
  .proces p {
      margin: 23px 0;
      text-align: left;
      color: #3E3B3B;
  }
  .proces p.number {
     color: rgba(23, 22, 22, 0.1);
     font-size: 73px;
     font-weight: 700;
     position: absolute;
     top: 0%;
     left: 50%;
     z-index: 9;
     margin-left: -94px;
     margin-top: 32px;
  }
  
  .about_pro_bac2 .proces p.number {
      color: #ddd;
  }
  .about_pro_bac2 .proces h4 {
      color: #ddd;
  }
  .about_pro_bac2 .proces p {
      color: #b6b2b2;
  }
  .about_pro_bac2 .proces p.number {
      color: #595959;
  }
  .expert-item .icon {
      height: 46px;
      display: inline-block;
      float: left;
      margin-top: -14px;
  }
  .expert-item .fea-left {
      display: block;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #1c1f25;
      margin: 0 auto;
      padding: 4px 0px;
      margin-left: 70px;
  }
  .expert-item .icon::before {
      color: #005C97;
  }
  .expert-item .icon::before {
      font-size: 40px;
      color: #1c1f25;
      webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .fea-info {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: left;
  }
  .about_list_titl {
      margin-left: 20px;
  }
  .about_list_left {
      margin-left: 20px;
  }
  .about_list_left h3 {
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 0px;
      line-height: 40px;
      font-size: 23px;
      margin-top: 0px;
  }
  .about_bottom_list {
      margin-top: 20px;
      display: inline-block;
      margin-bottom: -12px;
  }
  .about_bottom_list i {
      float: left;
      font-size: 30px;
      color: #d4b068;
      margin-bottom: 50px;
      position: relative;
      width: 60px;
      top: -5px;
  }
  .about_bottom_list p {
      margin-top: -5px;
  }
  .about_bottom_list p span {
      color: #121111;
      font-size: 18px;
  }
 /*----------------------------------------------------
  4. Service Section
------------------------------------------------------*/
 
 .services-box-2 {
     position: relative;
     width: 100%;
     overflow: hidden;
 }
.services-box-2 .number {
    position: relative;
    z-index: 2;
    font-size: 30px;
    vertical-align: top;
    float: left;
    margin-right: 12px;
    line-height: 20px;
	color: #d4b068;
}
 .services-box-2 img {
     width: 100%;
     display: block;
     margin-bottom: 25px;
 }
 .services-box-2 .icon {
     position: relative;
     float: left;
     display: inline-block;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     color: #fff;
     margin-right: 20px;
     text-align: center;
     font-size: 17px;
     line-height: 50px;
     font-weight: normal;
 }
 .services-box-2 .icon:before {
     font-family: 'Simple-Line-Icons';
     speak: none;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
.services-box-2 h4 {
    text-align: left;
    float: left;
    margin-bottom: 20px;
    font-size: 20px;
}
.services-box-2 .subtext {
    text-align: left;
    display: block;
    float: left;
    margin-top: -6px;
}
 .services-box-2 p {
     text-align: left;
     padding-top: 20px;
 }
  /*----------------------------------------------------
    5. Call To Action Section 
------------------------------------------------------*/
  
  .calltoaction {
      padding-top: 100px;
      padding-bottom: 80px;
  }
  .callto-icon {
      float: left;
      overflow: hidden;
      margin-right: 25px;
  }
  .callto-icon span {
      font-size: 54px;
      color: #fff;
	  line-height: 80px;
  }
  .callto-text h4 {
      margin: 0px;
      font-size: 40px;
      color: #fff;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin-bottom: 10px;
  }
  .callto-hover {
      color: #d4b068;
  }
  .callto-text p {
      color: #ddd;
  }
  .callto-text p {
      color: #ddd;
      font-size: 17px;
      letter-spacing: 5px;
  }
  div.callto-link a.more-link {
      color: #fff !important;
      border: 1px solid #fff;
  }

  .callto-link .more-link::after {
      border-left: 2px solid #fff;
  }
  /*----------------------------------------------------
    6. Pricing Section
------------------------------------------------------*/
  
  .price_no_padd {
      padding-right: 4px !important;
      padding-left: 1px !important;
  }
  .pricing-box {
      position: relative;
      text-align: left;
      transition: all 0.4s ease-out 0s;
      transform: translateX(0px) translateY(-3px) translateZ(0px) rotate(0deg) scale(1);
      padding: 40px 40px 10px 40px;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      transition: all 0.4s ease-out 0s;
  }
  .pricing-box::after {
      background: #d4b068;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      opacity: 0;
      z-index: -1;
  }
  .pricing-box:hover {
      box-shadow: 0px 0px 0px 0px #fff;
      transition: all 0.4s ease-out 0s;
  }
  .pricing-box h3 {
      font-size: 20px;
      letter-spacing: 1px;
      margin: 0;
      position: relative;
      text-transform: capitalize;
  }
  .pricing-box h2 {
      font-size: 60px;
      margin: 0px 0 25px;
      border-bottom: 1px solid #fef1f1;
      padding-bottom: 15px;
  }
  .pricing-box h2 span {
      font-size: 26px;
      position: relative;
      top: -11px;
      padding-right: 6px;
  }
  .pricing-box h2 sub {
      font-size: 16px;
      top: -3px;
  }
.pricing-box p {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #565454;
    line-height: 27px;
    margin-top: -5px;
}
  .pricing-box a {
      margin-bottom: 37px;
      border: 1px solid #000;
      color: #151414;
  }
  .pricing-box a:hover {
      color: #fff !important;
  }
  .pricing-box .more-link::after {
      border-left: 1px solid #333;
  }
  .pricing-box h3:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
  }
  /* Project  Page
=======================*/
  
  .work_bg {
      height: 270px;
      background-position: center;
      background-size: cover;
      background-color: #ddd;
      position: relative;
      z-index: 1;
      overflow: hidden;
  }
  .work_warp .col-md-3 {
      padding: 0px 0px;
  }
  .work_bg::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #000;
      z-index: 11;
      top: 100%;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .work_bg i {
      background: #d4b068;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      position: absolute;
      z-index: 111;
      left: 50%;
      top: 50%;
      margin-left: -20px;
      margin-top: -20px;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .work_bg:hover.work_bg i {
      opacity: 1;
  }
  .work_bg:hover:after {
      opacity: .7;
      top: 0;
  }
  .single_work h4 {
      margin-top: 20px;
      margin-bottom: 45px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #333;
  }
  .refit_project_shorting_active {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 0px;
      text-align: center;
	  margin-top: -8px;
  }
  .refit_project_shorting_active li {
      padding: 0px 5px;
      padding-bottom: 3px;
      color: #555;
      cursor: pointer;
      margin-bottom: 30px;
      margin-right: 16px;
      display: inline-block;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin-top: 0px;
  }
  .refit_project_shorting_active li.active {
      display: inline-block;
      color: #d4b068;
  }
  .refit_project_shorting_2 li {
      display: block;
      float: none;
      margin-bottom: 10px;
  }
  /*
   More Gallery Button Section
======================================*/
  
  .gallery_more {
      padding-bottom: 75px;
      padding-top: 75px;
  }
  .gallery_more .more-link {
      font-family: Roboto;
      font-weight: normal;
      padding: 15px 25px 15px 25px;
  }
  /*----------------------------------------------------
    5. Call To Action Button 
------------------------------------------------------*/
  
  .callto-icon {
      float: left;
      overflow: hidden;
      margin-right: 25px;
  }
  .callto-icon span {
      font-size: 60px;
  }
 
  .callto-hover {
      color: #d4b068;
  }
  .callto-text p {
      color: #ddd;
  }
  .callto-text p {
      color: #ddd;
      font-size: 17px;
      letter-spacing: 1px;
	  margin-top: 10px;
  }
  .callto-link .more-link {
      color: #fff;
      border: 1px solid #fff;
  }
  .callto-link .more-link::after {
      border-left: 1px solid #fff;
  }
  /*----------------------------------------------------
  Video Section  
------------------------------------------------------*/
  
  #video {
      padding: 100px 0px;
  }
  .video-section .base-header {
      color: #fff;
  }
  #video .base-header h2,
  #video .base-header p {
      color: #fff;
  }
  #video .main-head,
  .separator {
      color: #fff;
  }
  #video .separator,
  #video .separator2 {
      background-color: #fff;
  }
  #video .section-subheading {
      margin-top: -15px;
      font-size: 15px;
      text-align: center;
      margin-bottom: 45px;
  }
  .video-container {
      position: relative;
  }
  .video-container a {
      display: block;
      cursor: pointer;
      width: 630px;
      margin: auto;
  }
  .video-container img {
      margin: auto;
      display: block;
  }
  .play-video {
      position: absolute;
      left: 46%;
      margin-left: -38px;
      margin-top: 17px;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #fff;
  }
  .play-video .fa-play {
      width: 14px;
      height: 11px;
      color: #FFF;
      font-size: 23px;
      font-weight: 400;
      position: absolute;
      top: 13px;
      left: 19px;
  }
  .video-modal iframe {
      border: 5px solid rgba(255, 255, 255, 0.25);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
      -o-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
      -ms-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
      -o-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
  }
  .video-modal .modal-content {
      padding: 0px;
      border: 0px none;
      position: fixed;
      width: 712px;
      left: 50%;
      margin-top: -200px;
      top: 50%;
      margin-left: -356px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      text-align: center;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      background: transparent none repeat scroll 0% 0%;
  }
  .video-content a {
      margin-top: 10px;
  }
  .video-content h2 {
      color: #fff;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 33px;
      margin-top: 20px;
      letter-spacing: 2px;
  }
  .video-content p {
      color: #fff;
      margin-left: 581px;
      float: right;
      margin-top: -65px;
  }
  /*----------------------------------------------------
    8. Team Section
------------------------------------------------------*/
  
  .member {
      position: relative;
      padding: 0px 0px;
  }
  .member .img {
      width: 100%;
      overflow: hidden;
  }
  .member .img img {
      width: 100%;
      height: auto;
  }
  .member .info {
      position: absolute;
      text-align: left;
      z-index: 1;
      overflow: hidden;
      background: #d4b068;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(35, 33, 33, 0.4);
      -moz-box-shadow: 0px 0px 10px 0px rgba(35, 33, 33, 0.4);
      box-shadow: 0px 0px 10px 0px rgba(35, 33, 33, 0.4);
      padding: 0px 20px 0px;
      width: 100%;
      bottom: -109px;
      border: 2px solid #eadede;
      opacity: 1;
      border-top: 2px solid transparent;
  }
  .member .info .social {
      position: absolute;
      width: 100%;
      top: auto;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transform: translateX(0px) translateY(30px) translateZ(0px) rotate(0deg) scale(1);
      -moz-transform: translateX(0px) translateY(30px) translateZ(0px) rotate(0deg) scale(1);
      -ms-transform: translateX(0px) translateY(30px) translateZ(0px) rotate(0deg) scale(1);
      -o-transform: translateX(0px) translateY(30px) translateZ(0px) rotate(0deg) scale(1);
      transform: translateX(0px) translateY(30px) translateZ(0px) rotate(0deg) scale(1);
      margin-top: -100px;
      padding: 0;
  }
  .member .info p {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 400;
      color: #fff;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .member:hover .info p {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      margin-top: -29px;
      margin-bottom: 25px;
      letter-spacing: 1px;
  }
  .member:hover .social {
      bottom: 15px;
  }
  .member .img img {
      -webkit-transition: all 0.9s ease-out;
      -moz-transition: all 0.9s ease-out;
      -o-transition: all 0.9s ease-out;
      transition: all 0.9s ease-out;
      vertical-align: middle;
      transform: scale(1);
  }
  .member:hover .img img {
      transform: rotate(5deg) scale(1.07);
  }
  .member:hover .info {
      padding: 0px 20px 45px;
      opacity: 1;
  }
  .member:hover .social {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg) scale(1);
      -moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg) scale(1);
      -ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg) scale(1);
      -o-transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg) scale(1);
      transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg) scale(1);
  }
  .member .info h4 {
      border: none;
      color: #fff;
      letter-spacing: 1px;
      text-transform: capitalize;
      font-size: 20px;
      margin: 33px 0px;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .member .info i {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      line-height: 2.65em;
      font-size: 18px;
      text-align: left;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .social li {
      -webkit-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -ms-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      margin-right: 5px;
      font-size: 17px;
  }
  .member .info .social i {
      color: #fff !important;
      -webkit-transform: translateZ(0px);
      -moz-transform: translateZ(0px);
      -ms-transform: translateZ(0px);
      -o-transform: translateZ(0px);
      transform: translateZ(0px);
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
  }
  .member .info .social i:hover {
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  /*----------------------------------------------------
    Why Choose Us Section
------------------------------------------------------*/
  
  .chooseus-item {
      margin-left: 8%;
      width: 94% !important;
  }
  .chooseus-item {
      margin-bottom: 70px;
  }
  .chooseus-item .chooseus-icon {
      float: left;
      text-align: center;
      position: absolute;
      z-index: 99;
      left: 0px;
      width: 100%;
      top: -63px;
  }
  .chooseus-item .chooseus-icon i {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: inline-block;
      font-size: 30px;
      padding: 12px 0;
      margin-top: 30px;
      background: #d4b068;
      box-shadow: -3px 0px 3px 0px rgba(174, 174, 174, 0.5);
      color: #fff;
      border: 2px solid transparent;
      line-height: 30px;
  }
  .chooseus-item .chooseus-content {
      float: left;
      width: 100%;
      padding-bottom: 20px;
      text-align: left;
      box-shadow: 0px 3px 10px 2px rgba(174, 174, 174, 0.5);
      padding-left: 58px;
      padding-right: 48px;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      position: relative;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15p;
  }
  .chooseus-item .chooseus-content h5 {
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 18px;
      letter-spacing: 1px;
  }
  .chooseus-item .chooseus-content p {
      margin-bottom: 11px;
  }
  .chooseus-item:hover .chooseus-content {
      box-shadow: 0px 1px 5px 0px rgba(174, 174, 174, 0.2);
  }
  .chooseus-item:hover.chooseus-item .chooseus-icon i {
      border: 1px solid #d4b068;
      background: #fff;
      color: #d4b068;
  }
  .chooseus-item:last-child .chooseus-content {
      border-bottom: 1px solid transparent;
  }
  /*----------------------------------------------------
    7. Testimonial Section
------------------------------------------------------*/
  
  .testimonial .base-header h3 {
      color: #fff;
  }
  .testimonial .owl-carousel {
      margin-bottom: 0px;
  }
  .testimonial .owl-stage-outer {
      padding-top: 13px;
      margin: auto;
      margin-top: -20px;
  }
  .testimonial .owl-item img {
      margin: 30px auto 0 auto;
      -moz-transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
  }
  .testimonial .owl-carousel .item .testi-comment {
      text-align: center;
      padding: 0 196px;
  }
  .testimonial .owl-carousel .item .testi-comment p {
      line-height: 26px;
      color: #DBD4D4;
      text-align: center;
  }
  .testimonial .owl-carousel .item .testi-comment p::before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
      color: #d4b068;
      font-size: 25px;
      top: -2px;
      position: relative;
  }

  .testimonial .owl-carousel .item .testi-comment h4 {
      text-transform: capitalize;
      letter-spacing: 1px;
      text-align: center;
      margin-top: 30px;
      font-size: 20px;
  }
  .testimonial .owl-carousel .item .testi-comment span {
      color: #CBBFBF;
      font-weight: 400;
      position: relative;
      top: -9px;
      text-transform: capitalize;
  }
  .testimonial .owl-item.center .testi-comment {
      visibility: visible;
      margin: 0 -190px 0 -190px;
      padding: 10px 40px 10px 40px;
      text-align: center;
  }
  .testi_img {
      margin-top: 12px;
  }
  .testimonial .owl-item img {
      margin-top: 8px;
      width: 90px;
      height: 90px;
      border: 7px solid #ddd;
      border-radius: 50%;
  }
  /*================================================
    10. Blog Section
==================================================*/
 .blog-warp-1 {
     position: relative;
     width: 100%;
     overflow: hidden;
 }
 .blog-warp-1 a {
     text-align: left;
     font-size: 20px;
     line-height: 24px;
     text-transform: uppercase;
     color: #414141;
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
     text-transform: capitalize;
 }
 .blog-warp-1 a:hover {
     color: #000
 }
 .blog-warp-1 img {
     width: 200px;
     height: 200px;
     float: left;
     margin-right: 30px;
     display: inline-block;
     margin-bottom: 50px;
 }
 .blog-warp-1 .subtext {
     text-align: left;
     color: #747474;
     text-transform: none;
     letter-spacing: 1px;
     font-size: 13px;
     line-height: 17px;
     margin-top: -7px;
 }
 .blog-warp-1 p {
    text-align: left;
    margin-top: 15px !important;
    margin-bottom: 40px !important;
 }
  
  /*----------------------------------------------------
   Client Section
------------------------------------------------------*/
  
  .refit_logo_carousel .owl-controls .owl-dot.active span {
      background: #d4b068;
  }
  .refit_logo_carousel .owl-controls .owl-dot span {
      width: 15px;
      height: 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background: #c3c3c3;
      display: inline-block;
      border: 3px double;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      color: #fff;
  }
  .owl-dots {
      text-align: center;
  }
  .owl-dot {
      display: inline-block;
      margin: 0 7px;
      margin-top: 38px;
  }
  .refit_logo_tablesell img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-opacity: .7;
      -moz-opacity: .7;
      -ms-opacity: .7;
      -o-opacity: .7;
      opacity: .7;
  }
  .refit_logo_carousel .refit_logo_tablesell:hover img {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
  }
  /*----------------------------------------------------
   Contact Section
------------------------------------------------------*/
  
  .contact-form .form-control {
      color: #555;
      background: transparent;
      border-radius: 1px;
      box-shadow: none;
      border: 1px solid #f2f0f0;
      line-height: 0.5;
      margin-bottom: 20px;
  }
  .contact-form .form-control:focus {
      border: 1px solid #e9e6e6;
      border-left: 1px solid #d4b068;
      box-shadow: none;
  }
  .contact-form .submit-button:hover {
      background: transparent;
      color: #d4b068;
  }
  .contact-form .submit-button {
      color: #FFF;
      background: #d4b068;
      padding: 14px 0px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 150px;
      margin-left: 15px;
  }
  .contact-addrs h5,
  .contact-info h5 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #333;
  }
  /*----------------------------------------------------
   12. Footer Section
------------------------------------------------------*/
  
  .footer-section {
      float: left;
      width: 100%;
      color: #fff;
      background: #000 url("../images/background/footer.jpg") repeat 0% 0% / 100% auto;
      padding-bottom: 40px;
      padding-top: 90px;
  }
  .footer-indx {
      margin-top: 0px;
  }
  .footer-section .widget {
      padding-bottom: 15px;
  }
  .footer-section .widget h5 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
  }
  .footer-section .widget p {
      color: #fff;
      padding-right: 44px;
      margin-top: 20px;
  }
  .footer-section .widget h3 {
      color: #FFF;
      letter-spacing: 5px;
      margin-bottom: 24px;
      margin-top: 27px;
      font-size: 35px;
      font-weight: 700;
  }
  .recent-post {
      margin: 0;
      padding: 0;
  }
  .recent-post li {
      border-bottom: 1px dashed transparent;
      list-style: none;
      margin: 0 0 -11px 0;
      position: relative;
      border-color: #DDBC7B;
      padding: 0 0 0px 50px;
  }
  .recent-post li:last-child {
      border-bottom: transparent;
  }
  .footer-section .recent-post li a {
      color: #fff;
      font-size: 15px;
  }
  .footer-section .recent-post li a:hover {
      color: #fff;
      text-decoration: underline;
  }
  .footer-section .recent-post-date {
      position: absolute;
      width: 37px;
      height: auto;
      text-align: center;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 11px;
      padding: 8px;
      border-radius: 2px;
      left: 0;
      top: 5px;
      color: #fff;
  }
  .footer-section .recent-post-date {
      border: 1px solid #d4b068;
      background: #e1b969;
  }
  .widget_mailchimp .email {
      display: block;
      outline: 0px none;
      margin: 0px 0px 10px;
      text-align: left;
      vertical-align: top;
      height: 40px;
      max-width: ;
      width: 100%;
      padding: 0px 20px;
      line-height: 50px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(224, 224, 224);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05) inset;
      color: rgb(153, 153, 153);
      font-size: 14px;
      position: relative;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 300ms;
      transition: all 300ms ease 0s;
      padding-left: 55px;
  }
  .mailchimp-subtitle {
      line-height: 24px;
  }
  .widget_mailchimp form {
      margin-bottom: 0;
      position: relative;
      text-align: center;
      margin-top: 13px;
  }
  .widget_mailchimp form > .icon {
      position: absolute;
      top: 8px;
      z-index: 55;
      font-size: 18px;
      left: 20px;
      color: #D1D1D1;
      font-family: 'ElegantIcons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
  }
  .icon-mail6::before {
      content: "\e010";
  }
  .widget_mailchimp .mc-embedded-subscribe {
      width: 100%;
      padding: 10px 24px;
      border: transparent;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;
  }
  .widget_mailchimp .mc-embedded-subscribe:hover {
      box-shadow: 0px 20px 42px -10px rgba(212, 141, 73, 0.2);
      color: #85904D;
  }
  .widget_mailchimp .mc-embedded-subscribe {
      background: #E1B969;
  }
  .footer-social-links ul {
      margin-left: -39px;
  }
  .footer-social-links ul li {
      display: inline-block;
      position: relative;
      margin: 10px 5px 0;
      line-height: 1em;
      vertical-align: top;
  }
  .footer-social-links ul li a {
      display: inline-block;
      text-align: center;
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 21px;
      border: 1px solid #bababa;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: #bababa;
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
  .contact_info ul {
      padding: 0;
  }
  .contact_info ul li {
      position: relative;
      padding-left: 30px;
      list-style: none;
  }
  .footer-section .widget.contact_info ul li p {
      margin-top: 16px;
  }
  .contact_info ul li i {
      position: absolute;
      top: 2px;
      left: 0;
      color: #fff;
      font-size: 20px;
  }
  .subfooter {
      text-align: center;
      margin-top: 20px;
      color: #bababa;
  }
  .subfooter p {
      color: rgb(255, 255, 255);
      float: left;
      font-size: 13px;
      margin-top: 0px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
  }
  .subfooter p a {
      color: rgb(255, 255, 255);
  }
  .scrollup {
      display: inline-block;
      text-align: center;
      font-size: 11px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: #FFF;
      float: right;
      font-weight: 700;
      margin-top: 6px;
  }
  .scrollup span {
      line-height: 0px;
      padding-left: 11px;
      font-size: 23px;
      margin-top: -7px;
  }
  .scrollup:hover {
      color: rgba(255, 255, 255, 0.90);
  }
  .footer_arrow::before {
      content: "\f077";
      position: absolute;
      right: 1em;
      padding: 0 1px;
      font-family: FontAwesome;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
  .footer_arrow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      padding-right: 2.2em;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
  }
  .scrollup:hover .footer_arrow::before,
  .scrollup:focus .footer_arrow::before,
  .scrollup:active .footer_arrow::before {
      -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
      animation-name: hvr-icon-bob-float, hvr-icon-bob;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate;
  }